{% extends 'base.html.twig' %}


{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="jumbotron" style="background-color: transparent;">
        <div class="container well well-lg">
            <h1>Dashboard</h1>
            <p>This is my final project of master of Computer Science from Universitat Oberta de Catalunya</p>
            <p>It's a "real time dashboard" open source project written in PHP</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/chefchef/dashboard/blob/master/README.md"
                  role="button">Learn more</a>
            </p>
            <p>Eduard Heredia Lubino 2015</p>
        </div>
    </div>
{% endblock %}