<script type="text/template" id="template_widget">
    <div id="widget_base_<%= model.id %>" data-id="<%= model.id %>"
         class="draggable ui-widget-content resizable positionable widget">
        <span class="label label-info">Widget <%= model.name %></span>
    </div>
</script>